APP_NAME=ApolloEnergy
APP_ENV=local
APP_KEY=base64:B16YXlwjcVtZ6P72iUzm9uGDbxha+DgCGUze3IsgHu0=
APP_DEBUG=true
APP_URL=http://localhost


LOG_CHANNEL=stack
LOG_LEVEL=debug


DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=apollo_energy
DB_USERNAME=postgres
DB_PASSWORD=ChangeMe123!


SESSION_DRIVER=file

REDIS_HOST=redis
REDIS_PORT=6379


MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

JWT_SECRET=EYiTAx7MUdCj11qnzxD65o2QJ6ujlxWqFT8dDNHipJNaPbVSxibnJu1c08w4uhsv


FRONTEND_URL=http://localhost:8080
